<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>home page</title>
</head>
<body>
<h1>this is my home page</h1>
<h3>the output of this <%= 5*2%></h3>
<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut aspernatur ex quod nemo magni, laboriosam dolor, consequuntur, dolore ad hic ea numquam facere laudantium aperiam dolorem! Iusto facilis fugit impedit!
  Optio inventore maiores voluptatibus ut quaerat quas nulla, illo aperiam molestias modi nesciunt porro non odit delectus eum quae vitae hic voluptas minima numquam doloribus rem! Ab expedita alias accusamus?</p>

</body>
</html>