<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>roll dice</title>
</head>
<body>
    <h1>dice gave value :
<!--    <%= Math.floor(Math.random()*6) +1%>-->
    </h1>


</body>
</html>